@import "../../../scss/variables";

.options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  p {
    color: $secondary;
    font-family: $roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
