@import "../../../scss/variables";

.search-container {
  display: flex;
  padding: 1.2rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: relative;

  input {
    font-size: 1.8rem;
    color: $gray;
    padding-block: 1rem;
    padding-inline-start: 2rem;
    font-style: normal;
    font-weight: $font-weight-regular;
    font-family: $roboto;
    line-height: 150%;
    border-radius: 8px;
    border: 1px solid $primary;
  }

  .search-icon {
    position: absolute;
    left: 2rem;
    z-index: 1000;
  }
}
