/**************
 * TYPOGRAPHY *
 **************/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/*****************
 * FONT FAMILIES *
 *****************/

$roboto: "Roboto";
$inter: "Inter";

/****************
 * FONT WEIGHTS *
 ****************/

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/****************
 * LINE HEIGHTS *
 ****************/

$line-height-small: 1.2;
$line-height-regular: 1.5;
$line-height-medium: 1.75;
$line-height-large: 2;
$line-height-extra-large: 2.5;
