@import "../../../scss/variables";

.header {
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 95%;
  max-width: 35rem;
  margin-inline: auto;
}
